@page "/"

<PageTitle>Ana Sayfa - BookStore</PageTitle>

<div class="container text-center mt-5">
    <h1>📚 BookStore Yönetim Paneline Hoş Geldiniz</h1>
    <p class="lead">Kitap envanterinizi buradan yönetebilir, yeni kayıtlar ekleyebilir veya silebilirsiniz.</p>

    <div class="row mt-4">
        <div class="col-md-6">
            <a href="books" class="btn btn-primary btn-lg w-100">Kitap Listesini Gör</a>
        </div>
        <div class="col-md-6">
            <a href="add-book" class="btn btn-success btn-lg w-100">Yeni Kitap Ekle</a>
        </div>
    </div>
</div>